<div class="container-fluid">
  <form>

    <div class="form-group">
      <label for="telephone">Filter customers</label>
      <input class="form-control" ng-model="searchText" id="searchname" placeholder="Search for Customer">
    </div>
    <div class="form-group">
      <label for="customer">Customer</label>
      <select class="form-control" id="customer" ng-model="vm.chosenCustomerDetail.customerObject" ng-options="customerDetail.name for customerDetail in vm.customerDetails | filter:searchText track by customerDetail.id" >
        <option value="">Choose customer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="telephone">Phonenumber</label>
      <input class="form-control" ng-model="vm.chosenCustomerDetail.customerObject.telephone" id="telephone" placeholder="Phonenumber">
    </div>
    <div class="form-group">
      <label for="message">Event</label>
      <textarea class="form-control" ng-model="vm.chosenCustomerDetail.department" id="department" placeholder=""></textarea>
    </div>
    <div class="form-group">
      <label for="message">Question</label>
      <textarea class="form-control" ng-model="vm.chosenCustomerDetail.question" id="question" placeholder="question"></textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" checked>Request Feedback from customer
      </label>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" ng-model="vm.smsMessage.message" id="message" placeholder="Message"></textarea>
    </div>
    <button ng-disabled="!vm.chosenCustomerDetail.customerObject" ng-click="vm.sendFeedback(false)" type="submit" class="btn btn-default">Request feedback</button>
    <button ng-disabled="!vm.chosenCustomerDetail.customerObject" ng-click="vm.sendSms()" type="submit" class="btn btn-default">Send SMS</button>
    <button ng-disabled="!vm.chosenCustomerDetail.customerObject" ng-click="vm.sendFeedback(true)" type="submit" class="btn btn-primary">Request feedback and send SMS</button>
  </form>
</div>
